# NOTE: This is the Portainer Swarm stack YAML.
# Deploy via Portainer UI, NOT via docker compose.
# Stack name: dns-adguard

version: "3.8"

services:
  adguard:
    image: adguard/adguardhome:latest
    ports:
      - target: 53
        published: 53
        protocol: tcp
        mode: host
      - target: 53
        published: 53
        protocol: udp
        mode: host
      - target: 80
        published: 8080
        protocol: tcp
        mode: host
      - target: 853
        published: 8530
        protocol: tcp
        mode: host
    volumes:
      - <xx_data_path_xx>/adguard/work:/opt/adguardhome/work
      - <xx_data_path_xx>/adguard/conf:/opt/adguardhome/conf
      - <xx_data_path_xx>/ssl:/etc/letsencrypt:ro
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  nginx-geoip:
    image: nginx-geoip2:1.29.0
    ports:
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 8530
        published: 853
        protocol: tcp
        mode: host
    volumes:
      - <xx_data_path_xx>/nginx-config/nginx.conf:/etc/nginx/nginx.conf:ro
      - <xx_data_path_xx>/nginx-html:/usr/share/nginx/html:ro
      - <xx_data_path_xx>/geoip2:/usr/share/GeoIP:ro
      - <xx_data_path_xx>/ssl:/etc/letsencrypt:ro
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  geoip-updater:
    image: maxmindinc/geoipupdate:latest
    environment:
      - GEOIPUPDATE_ACCOUNT_ID=${GEOIP_ACCOUNT_ID}
      - GEOIPUPDATE_LICENSE_KEY=${GEOIP_LICENSE_KEY}
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-Country
      - GEOIPUPDATE_FREQUENCY=72
      - GEOIPUPDATE_VERBOSE=1
    volumes:
      - <xx_data_path_xx>/geoip2:/usr/share/GeoIP
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  certbot-renew:
    image: certbot/certbot
    volumes:
      - <xx_data_path_xx>/ssl:/etc/letsencrypt
      - <xx_data_path_xx>/certbot-webroot:/var/www/html
    entrypoint: /bin/sh -c "while true; do certbot renew --webroot -w /var/www/html; sleep 12h; done"
    deploy:
      replicas: 1
      restart_policy:
        condition: any

